body {
    background-image: url("./imagen/imagen_fondo.jpg"); 
  }

 footer {
    background-color:#373736;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
 }
 
 .logo {
  width: 700px;
  display: block;
  height: 160.35px;
  margin: 80px auto;
 }

.bar {
  background: #373736;
  display: flex; 
  justify-content: space-between;
  padding: 15px;
  }

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
}

.typChamp {
  display: flex; 
  justify-content: space-between;
}

